.main-container {
    /* background-color: red; */
    height: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    margin: 3%;
    display: flex;
    position: relative;
}
.icon-circle{
    position: absolute;
    margin-top: 13%;
    margin-right: 5%;
}
.box-content {
    margin-left: 7%;
    font-size: 20px;
    display: inline;
    
}
.box-count {
    border: 2px solid black;
}
h3, span {
   color: rgb(89, 89, 89);
   text-decoration: none;
}
h1 {
    color: midnightblue;
}
