{% extends "Collector_dashboard_master_template.html" %}

{% load static %}


{% block title %}
  Complaint
{% endblock %}

{% block content %}

        <style>
            body {
                background-color: midnightblue;
            }
            #main{
                display: flex;
                flex-direction: row;
            }
            #main .leftbox{
                flex-direction: column;
                width: 20%;
                margin-top: 9%;
                margin-left: 5%;
            }
            .main .container{
                flex: 0 0 auto;
                width: 100%;
            }
            .main-container {
                background-color: white;
                font-family: 'Muli';
                height: fit-content;
                border-radius: 17px;
                box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
                padding-bottom: 10px;
            }
            .background-cover2{
                background-color: rgba(25,25,112, 0.1);
                position: relative;
                margin: 0px;
                height: 200px;
                /* z-index: -1; */
                padding-top: 2%;
                border-radius: 17px 17px 0px 0px;
                overflow: hidden;
                /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
            }
            .circle1{
                position: absolute;
                right: -5%;
                top: -10%;
                width: 230px;
                height: 230px;
                /* filter: blur(10px); */
                background-color: rgba(74, 3, 255, 0.2);
                border-bottom-left-radius:  100%;
                /* border-top-left-radius:  100%; */
                overflow: hidden;
                /* z-index: -1; */
            }
            .circle2{
                position: absolute;
                right: -5%;
                top: 12%;
                width: 230px;
                height: 230px;
                /* filter: blur(60px); */
                background-color: rgba(74, 3, 255, 0.2);
                border-top-left-radius:  100%;
                overflow: hidden;
            }
            .container{
                padding: 50px;
                width: 100%;
            }
            .form-head{
                display: inline-block;
                font-size: 2.7vh;
                width: 35%;
                padding: 20px 4px;
                font-family: sans-serif;
                color: midnightblue;
                border-left: 5px solid midnightblue;
                margin-top: 3%;
                background-color: rgba(0, 0, 0, 0.04);
            }
            .complaint-data{
                font-size: 2.6vh;
                padding: 10px 20px;
            }
            .view-btn{
                text-decoration: none;
                padding: 10px 12px;
                color: white;
                background-color: midnightblue;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
                font-size: 18px;
            }
            .responsive-container{
                display: flex;
            }
            .responsive-container > *{
                flex: 0 0 auto;
            }
            .responsive .form-head{
                width: 150px;
            }
            .responsive-container .complaint-data{
                width: 80%;
                margin-top: 12px;
            }
            .profile_image{
                width: 200px;
                height: 200px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 100%;
            }
            .edit_button{
                text-decoration: none;
                padding: 17px 20px;
                color: black;
                background-color: gold;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
                position: absolute;
                margin-top: 30px;
                right: 25;
            }
        </style>
        <div class="main-container">
            <div class="background-cover2" >
                <div class="circle2"></div>
                <div class="circle1"></div>
                <h1 style="color: midnightblue;text-align: center;margin-top: 3.5%;margin-left:2%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;font-weight: bold;"> Profile Section </h1>
                <h2 style="color: midnightblue;text-align: center;margin-top: 3.5%;margin-left:2%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;font-weight: bold;"> View & Edit Your Information</h2>
            </div>
            <div id="main">
                <a href="/editcollectorprofile" class="edit_button"> <i class="fa  fa-pencil-square-o" style="margin-right: 5px;font-size: 20px;"></i> Edit Profile</a>
                <div class="leftbox">
                <center><img src="{% static 'images/profile.png'%}" class="profile_image"><br><br><span style="font-size: 20px;">Profile Photo</span></center>
                </div>
                <div class="container">
                    <h1 style="color: #a4a3a3;margin: 0% 0% 2% 0%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;font-weight: bold;"> Personal Information</h1>
                    <span class="form-head"><b>First Name</b></span>
                    <span class="complaint-data">{{ request.user.first_name }}</span><br>
                    
                    <span class="form-head"><b>Last Name</b></span>
                    <span class="complaint-data">{{ request.user.last_name }}</span><br>
                    
                    
                    <span class="form-head"><b>Gender</b></span>
                    <span class="complaint-data">{{ request.user.profile.gender }}</span><br>
                    
                    <h1 style="color: #a4a3a3;margin: 4% 0% 2% 0%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;font-weight: bold;"> Contact Information</h1>
                    <span class="form-head"><b>Mobile Number</b></span>
                    <span class="complaint-data">{{ request.user.profile.mobile_number }}</span><br>
                    
                    <span class="form-head"><b>Email Id</b></span>
                    <span class="complaint-data">{{ request.user.username }}</span><br>

                    <span class="form-head"><b>Village Name</b></span>
                    <span class="complaint-data">{{ village_name }}</span><br>

                    <div class="responsive-container">                    
                        <span class="form-head"><b>Address</b></span>
                        <span class="complaint-data" style="width:50%;padding: 20px">{{ request.user.profile.address|safe }}</span><br>
                    </div>
                </div>
                
            </div>
            <center><a href="/collectordashboard" class="view-btn">Go Back</a></center>
            <br><br>
            </div>
        </div>
        <script src="{% static '/js/jquery-3.6.3.js' %}"></script>
        <script>
            document.getElementsByClassName("profile")[0].classList.add("active");
        </script>
{% endblock %}