{% extends "Talati_dashboard_master_template.html" %}

{% load static %}


{% block title %}
  Dashboard
{% endblock %}

{% block content %}

  <!-- link css file to current page -->
  <link rel="stylesheet" href="{% static 'styles/user_dashboard.css' %}">
  <style>
    .view-btn{
        text-decoration: none;
        padding: 10px 12px;
        color: white;
        background-color: midnightblue;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
  </style>
  <!-- highlight current page in dashboard -->
  <script>
    document.getElementsByClassName("dashboard")[0].classList.add("active");
  </script>

<div class="main-content">
    <div class="bubble1"></div>
    <div class="bubble2"></div>
  </div>
  <!-- <div class="notification-icon" style="cursor:pointer;position: absolute;right: -10;top: 30px;background-color: white;float: right;border-top-left-radius: 100%;;border-bottom-left-radius: 100%;width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
    <i class="fa fa-bell" style="color: white;font-size: 20px;float: right;color: black;"></i>
  </div> -->
  <div class="hero-line">
    <i class="fa fa-home"></i> / Dashboard<br>
    <h2>Dashboard</h2>
    
      {% if user.is_authenticated %}
        <h4 style="display: inline;">Current User :</h4> {{ request.user.first_name }} {{ request.user.last_name }} 
      {% else %}
        <h4 style="display: inline;">User :</h4> Guest
      {% endif %}
    
  </div>
  <section class="calculation-container">
    <div class="calculation-box">
      <h3>Document Requests</h3>
      <h1 style="font-size: 40px;margin-left: 0px;margin-bottom: 15px;margin-top: 10px;">{{ certificate_count }}</h1>
      <span>requests are awaiting</span>
      <div class="icon-circle" style="background-image: linear-gradient(310deg, #1171ef, #11cdef);">
        <i class="fa fa-hourglass-end"></i>
      </div>
    </div>
    <div class="calculation-box">
      <h3>Complaint Records</h3>
      <h1 style="font-size: 40px;margin-left: 0px;margin-bottom: 15px;margin-top: 10px;">{{ complaint_count }}</h1>
      <span>are waiting to resolve</span>
      <div class="icon-circle" style="background-image: linear-gradient(310deg, #f5365c, #f67e5d);">
        <i class="fa fa-exclamation"></i>
      </div>
    </div>
    <div class="calculation-box" style="margin-right: 10px;">
      <h3>Project Voting</h3>
      <h1 style="font-size: 40px;margin-left: 0px;margin-bottom: 25px;margin-top: 10px;">{{ open_voting }}</h1>
      <span>are still open to villagers</span>
      <div class="icon-circle" style="background-image: linear-gradient(310deg, #fb6340, #fbb140);">
        <i class="fa fa-credit-card"></i>
      </div>
    </div>
  </section>
  <h2 style="color: rgb(147, 147, 147);font-size: 30px;margin: 30px 0px 0px 30px;">Recent Updates</h2>
  <section>
    <div class="recent-document-table">
      <table>
        <tr>
          <th>Sr No.</th>  
          <th>Document Type</th>
          <th>Apply Date & Time</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

        {% for item in page_obj %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              {% if "17024" in item.inward_id %}
                Birth Certificate
              {% elif "18025" in item.inward_id %}
                Cast Certificate
              {% elif "19026" in item.inward_id %}
                Character Certificate
              {% elif "20027" in item.inward_id %}
                Death Certificate
              {% elif "21028" in item.inward_id %}
                Income Certificate
              {% elif "22029" in item.inward_id %}
                Land Ownership Certificate
              {% elif "23030" in item.inward_id %}
                NCL Certificate
              {% endif %}
            </td>
            <td>{{item.application_date|date:'d/m/Y h:m A'}}</td>
            <td>
              {% if "Reject" in item.form_status %}
                Rejected
              {% else %}
                {{item.form_status}}
              {% endif %}
            </td>
            <td>
              {% if "Reject" not in item.form_status and "Pending" not in item.form_status %}
                <a href='/viewpdf/{% if "17024" in item.inward_id %}birth{% elif "21028" in item.inward_id %}income{% elif "18025" in item.inward_id %}cast{% elif "23030" in item.inward_id %}ncl{% elif "20027" in item.inward_id %}death{% elif "22029" in item.inward_id %}land{% endif %}/{{item.inward_id}}'' class="view-btn">View</a>
              {% endif %}
              {% if "Reject" in item.form_status %}
                <span style="display:inline-block;color: red;width:150px;">{{item.form_status}}</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        <tr>
          <td colspan="4" style="text-align: center;width: 100%;"><a href="/documenthistory" style="text-decoration: none;font-size: 18px;">View all</a></td>
        </tr>
      </table>
    </div>
  </section>
{% endblock %}